@model IEnumerable<FitnessEquipmentShop.Data.Models.Entities.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>All products</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text"><strong>Price:</strong> @product.Price lv.</p>
                    <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-primary">Details</a>
                    <a href="@Url.Action("Add", "Cart", new { productId = product.Id })" class="btn btn-success">Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
